[
    [
        {
            "datatype": null,
            "canonicalized_argument": "max_cpu",
            "raw_argument": "maxCPU",
            "type": "WORD"
        },
        {
            "plausible": [],
            "required": [
                {
                    "signature": "sort(descending(x))"
                }
            ],
            "fingerprint": {
                "datatype": null,
                "canonicalized_argument": "max_cpu",
                "raw_argument": "maxCPU",
                "type": "WORD"
            }
        }
    ],
    [
        {
            "datatype": null,
            "canonicalized_argument": "host",
            "raw_argument": "host",
            "type": "SPL_FIELD"
        },
        {
            "plausible": [],
            "required": [
                {
                    "signature": "dedup(x)"
                }
            ],
            "fingerprint": {
                "datatype": null,
                "canonicalized_argument": "host",
                "raw_argument": "host",
                "type": "SPL_FIELD"
            }
        }
    ],
    [
        {
            "datatype": null,
            "canonicalized_argument": "command",
            "raw_argument": "COMMAND",
            "type": "WORD"
        },
        {
            "plausible": [],
            "required": [
                {
                    "signature": "dedup(x)"
                },
                {
                    "signature": "timechart(groupby(count, x))"
                }
            ],
            "fingerprint": {
                "datatype": null,
                "canonicalized_argument": "command",
                "raw_argument": "COMMAND",
                "type": "WORD"
            }
        }
    ],
    [
        {
            "datatype": null,
            "canonicalized_argument": "resident_mb",
            "raw_argument": "Resident_MB",
            "type": "ID"
        },
        {
            "plausible": [],
            "required": [
                {
                    "signature": "sort(descending(x))"
                }
            ],
            "fingerprint": {
                "datatype": null,
                "canonicalized_argument": "resident_mb",
                "raw_argument": "Resident_MB",
                "type": "ID"
            }
        }
    ],
    [
        {
            "datatype": null,
            "canonicalized_argument": "_time",
            "raw_argument": "_time",
            "type": "SPL_FIELD"
        },
        {
            "plausible": [],
            "required": [
                {
                    "signature": "sort(descending(x))"
                }
            ],
            "fingerprint": {
                "datatype": null,
                "canonicalized_argument": "_time",
                "raw_argument": "_time",
                "type": "SPL_FIELD"
            }
        }
    ]
]
